@using FinalProject.Models
@model ChangeFirstNameViewModel
<h2>Change First Name</h2>
@using (Html.BeginForm("ChangeFirstName", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangeFirstName">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NewFirstName" class="control-label"></label>
                    <input asp-for="NewFirstName" class="form-control" />
                    <span asp-validation-for="NewFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}

@*
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldFirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
               @Html.PasswordFor(m => m.OldFirstName, new { @class = "form-control" })
            </div>
        </div>
          <div class="form-group">
             @Html.LabelFor(m => m.NewFirstName, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                 @Html.PasswordFor(m => m.NewFirstName, new { @class = "form-control" })
               </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Change first name" class="btn btn-default" />
              </div>
          </div>
     }
*@
