
@model FinalProject.Models.Cart
@using FinalProject.Models
@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>


<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartDate)
        </dd>
    </dl>
</div>

<div>
    <h4>Products</h4>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartDetail od in Model.CartDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => od.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => od.Book.Price)</td>
                    <td>@Html.DisplayFor(modelItem => od.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => od.ExtendedPrice)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.CartSubtotal)</td>
        </tr>
        <tr>
            <td>Sales tax (8.25%)</td>
            <td>@Html.DisplayFor(r => r.Tax)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.CartTotal)</td>
        </tr>

    </table>
</div>
<form asp-action="Checkout" asp-controller="Carts" method="post">
    <div>
        @*ADD CODE FOR CREDIT CARD INFORMATION AND COUPON CODE INPUT*@
        <div class="form-group">
            <label class="control-label col-md-2">Select a Creditcard:</label>
            <div class="col-md-8">
                @Html.DropDownList("SelectedCreditCard", (SelectList)ViewBag.CreditCards, new { @class = "form-control" })
            </div>
        </div>
        <div>
            <a asp-action="Create" asp-controller="CreditCards"> Add a new credit card </a>
        </div>
        @*add code for adding a new credit card button*@
        <div class="form-group">
            <label> Coupon Code:</label>
            <input name="CouponTypeString" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Confirm Order</button>
</form>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CartID">Edit</a> |
        @*....PLACE ORDER BUTTON..... <a asp-action="Checkout"> Checkout </a>*@
        @*<a asp-action="Checkout"> Place Order </a>*@
        <a asp-action="Index">Back to List</a>
    </div>
